$main-color: #071B64;
$background-color: #fff;
$button-background-color:#071B64;
$button-border-color: #B9D8DC;
$button-iside-color: white;

$main-text-color: #071B64;

$accent-color: #BD00FF;
$blue-color: #1235B1;
$events-color: #7C9CEF;
$grey-color: #B9D8DC;
$light-grey-color: #B9D8DC;
