@import "../../../styles/colors.scss";

.three-days-view {
  .view-header {
    display: flex;
    border-bottom: 2px solid $light-grey-color;

    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 200;
  }

  .view-content {
    flex-grow: 2;
    display: flex;
    position: relative;
  }
}