.week-day {
	flex: 1;
	position: relative;
	text-align: center;

	border-right: 1px solid black;


	&:last-child {
		border: none;
	}

	.event {
		position: absolute;
		width: 90%;
		
		background-color: lightblue;
	}
}