.event-card {
	position: absolute;
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 8px;
	border-left: 4px solid $blue-color;
	cursor: pointer;
	font-size: 0.9rem;

	background-color: $light-blue-color;
	box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.23);

	.title,
	.time-interval {
		color: $background-color;
	}
}
