.week-day-header {
	flex: 1;
	min-height: 3rem;

	text-align: center;
	border-right: 1px solid $grey-color;

	&:last-child {
		border: none;
	}

	.date-container {
		padding-bottom: 8px;

		font-size: 1.2rem;
		font-weight: 600;
	}

	.day-date {
		display: inline-block;
		width: 2.5rem;
		padding: 6px 0;
	}

	&.current-day .day-date {
		margin-left: 8px;
		border-radius: 50%;
		background-color: $blue-color;
		color: $background-color;
	}
}
