#calendar-page {
	overflow: hidden;

	.page-content {
		height: 1px; // "overflow: auto" doesn't work without defined height
	}
}

.calendar-view {
	flex-grow: 2;
	display: flex;
	flex-direction: column;

	overflow: hidden auto;
}
