.sidebar {
	width: 12.5%;
	display: flex;
	flex-direction: column;
	margin-right: 2rem;

	&.collapsed{
		display: none;
	}
	.btn-container {
		margin-bottom: 1rem;
	}

	.add-event-btn {
		width: 100%;
		font-size: 1.2rem;
		font-weight: 600;
		padding: 0.2rem 1rem;
		user-select: none;
	}
}
