@import "../../styles/colors.scss";

.buttonCollapsed {
	border: 0px;
	background-color: white;
	&:hover {
		background: none;
	}
	&:active,
	&.active {
		background: none;
	}
}
.top-panel {
	height: 2rem;
	display: flex;
	align-items: center;
	padding: 1rem;
	margin-bottom: 1rem;

	border-bottom: 2px solid $main-color;

	.logo-container {
		width: 12.5%;
		display: flex;
		align-items: center;
		column-gap: 1rem;
		margin-right: 1rem;

		font-size: 1.8rem;
		font-weight: 600;
	}

	.btn-group {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.today-btn {
		font-size: 1rem;
	}

	.arrow-buttons {
		display: flex;
		margin: 0 0.5rem 0 0.5rem;
	}

	.arrow-btn {
		margin: 0 1px;
		padding: 0px;
		border: none;
		background-color: white;
	}

	.date-interval {
		font-size: 1.2rem;
		user-select: none;
	}
}
